.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc.user
/.itex_configure.bazelrc
/bazel-*
/bazel_pip
/itex/tools/python_bin_path.sh
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
.idea/**
.clwb/
/build/
[Bb]uild/
*.whl
